h1, p {
    text-align: center;
}

div .col-md-4 {
    text-align: center;
    padding: 0 !important;
}

.symbol {
    cursor: pointer;
    width: 51px;
}

.grid {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    grid-auto-rows: minmax(100px, auto);
}

.box {
    border: 1px dashed grey;
    padding: 50px;
    user-select: none;
}
