body {
    background-color: rgba(241, 241, 241, 0.87);
}

h1, p {
    text-align: center;
    color: #ee007b;
}

.currentPara {
    color: orange;
}

div .col-md-4 {
    text-align: center;
    padding: 0 !important;
}

.symbol {
    width: 51px;
    color: rgb(102, 21, 102);
}

.grid {
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    grid-auto-rows: minmax(100px, auto);
}

.box {
    cursor: pointer;
    background-color: rgba(0, 123, 238, 0.342);
    border: 1px dashed grey;
    padding: 50px;
    user-select: none;
}
