h1, p {
    text-align: center;
}

div .col-md-4 {
    text-align: center;
    padding: 0 !important;
}

.symbol {
    cursor: pointer;
}

.grid {
    max-width: 500px;
}

.box {
    border: 1px dashed grey;
    width: 100%;
    max-width: 150px;
    height: 150px;
}
